build/
build-*.log
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.postrm*
debian/*.substvars
debian/ydyun-usbctl/
linux/src/__pycache__/
linux/tests/__pycache__/
authorized-*.conf
*.pcap
*.es
